@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Jersey+25+Charted&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --primeira: rgb(0, 89, 255);
    --segunda: #e2eafcff;
    --terceira: #d7e3fcff;
    --quarta: #ccdbfdff;
    --quinta: #c1d3feff;
    --sexta: #b6ccfeff;
    --setima: #abc4ffff;
    --textotitulo: "Danfo", serif;
    --textocorpo: "Jersey 25 Charted", sans-serif;
}


body {
    background: var(--terceira);
    color: black;
    font-family: var(--textocorpo);
}

.cabecalho{
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
padding: 12px;
}

.cabecalho-img{
    width: 12%;
    border-radius: 100%;
}
.cabecalho-nav__link{
    text-decoration: none;
    font-family: var(--textotitulo);
    font-size: 24px;
    color: var(--primeira);
    margin-right: 24px;
}
.principal-capa{
display: flex;
justify-content: space-between;
align-items: center;
gap: 24px;
background-image: url(img/Banner\ Da\ Motors\ ESport.png);
background-size: 88vh;
padding: 12px 12px;


}

.principal-capa__conteudo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.principal-capa__titulo{
font-family: var(--textotitulo);
font-size: 48px;
color: orange;
margin-bottom: 12px;
}
.principal-capa__texto{
    font-size: 24px;
    margin-right: 24px 30% 24px 24px;
}


