@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Jersey+25+Charted&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --primeira: #edf2fbff;
    --segunda: #e2eafcff;
    --terceira: #d7e3fcff;
    --quarta: #ccdbfdff;
    --quinta: #c1d3feff;
    --sexta: #b6ccfeff;
    --setima: #abc4ffff;
    --textotitulo: "Danfo", serif;
    --textocorpo: "Jersey 25 Charted", sans-serif;
}


body {
    background: var(--terceira);
    color: black;
    font-family: var(--textocorpo);
}

.titulo{
    font-family: var(--textotitulo);
}

