*{
    margin: 0;
    padding: 0;
}

:root{
    --alice-blue: #edf2fbff;
--lavender-web: #e2eafcff;
--lavender-web-2: #d7e3fcff;
--periwinkle: #ccdbfdff;
--periwinkle-2: #c1d3feff;
--periwinkle-3: #b6ccfeff;
--jordy-blue: #abc4ffff;
}

body{
    background: rgb(73, 156, 211);
    color: black;
}